body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-color: #124f50;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 330px;
    box-shadow: 0 0 50px #000000cc;
    background-color: #00bcd4;
}

h2 {
    color: #2e2c23;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 100px); /* Mengatur lebar input agar ada ruang bagi tombol check */
    background-color: #FAF8F1; /* Mengganti warna latar belakang */
    border: 2px solid #333;
}

.input-container {
    display: flex;
    align-items: center;
}

.check-button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #222120;
    color: #00bcd4;
    border: none;
    border-radius: 0 5px 5px 0; /* Mengatur border radius */
    transition: background-color 0.3s ease;
}

.check-button:hover {
    background-color: #FAF8F1;
}

p#result {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.name-box {
    font-family: system-ui;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 50px #000000cc;
    background-color: #00bcd4;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    text-align: center;
    font-size: 14px;
    color: #222120;
}
